/* all take off maring and padding and set box-sizing */


/* for section tag - set height background color and basic font */



/* for score class add color height display justify content and 
align item */



/* inside of score set h2 font size  */



/* .score p text-align padding and fontsize*/


/* intro page set color heigh display flex-direction align-item
justify-content transition */



/* intro h1 font size */

.intro h1 {
    font-size: 50px;
}


/* intro button & match button width height background 
border color font_size background border-radius cursor  */

.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(45, 117, 96);
    border-radius: 3px;
    cursor: pointer;
}


/* .match  position top left tranform transition  */

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}


/* .winner color text_align font-size */

.winner {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 50px;
}


/*.hand . options display justify-content align-items 
learn about flex and what it do. */

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* .player-hand rotate 180 deg?  */

.player-hand {
    transform: rotateY(180deg);
}


/* div.fadeOut  (something to dig in to) */

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}


/* find out more about @keyframes */

@keyframes shakePlayer {
    0% {
        transform: rotateY(180deg) translateY(0px);
    }
    15% {
        transform: rotateY(180deg) translateY(-50px);
    }
    25% {
        transform: rotateY(180deg) translateY(0px);
    }
    35% {
        transform: rotateY(180deg) translateY(-50px);
    }
    50% {
        transform: rotateY(180deg) translateY(0px);
    }
    65% {
        transform: rotateY(180deg) translateY(-50px);
    }
    75% {
        transform: rotateY(180deg) translateY(0px);
    }
    85% {
        transform: rotateY(180deg) translateY(-50px);
    }
    100% {
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(-50px);
    }
    25% {
        transform: translateY(0px);
    }
    35% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0px);
    }
    65% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
